html, body {
    height: 100%;
    background-color: #417690;
}

.description-container {
    background-color: #417690;
    color: #ffffff;
}

.description-container h1 {
    color: #f4f379;
}

.description-container .container {
    max-width: 750px;
    height: 100%;
}

.forms-container {
    background-color: #ffffff;
    color: #436ca7;
}

.forms-container .container {
    max-width: 750px;
    height: 100%;
}

.page-header {
    border-bottom: none;
}

.row {
    background-color: white;
}

.control-group {
    min-height: 53px;
}