<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Arizona Wine Contribute Form{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}azwine/base.css">
  </head>
  <body>
    {% block main %}
    <div class="container">
      <div class="page-header">
        <h1>Arizona Wine Growers Contribute Form</h1>
      </div>
      <p class="lead">
        Help us collect data about your wine business located in Arizona!
        The Arizona Geological Survey has been tasked with building an
        interactive web map application to support various parts of the
        local agricultural industry in Arizona.  For the sake of data integrity
        and long term sustainability of the program, we built this contribute
        form so that industry professionals can create and maintain their own
        data.
      </p>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-2">
          <div id="register-form">
            <form id="from-horizontal" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                  <input type="text" name="username" id="username" placeholder="Username">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">Email address</label>
                <div class="controls">
                  <input type="text" name="email" id="email" placeholder="Email address">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" name="password" id="password" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" name="submit" value="Register" class="btn">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
          <div id="login-form">
            <form class="form-horizontal" name="LoginForm" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
            <label class="control-label" for="username">Username</label>
              <div class="controls">
                  <input type="text" name="username" id="username" placeholder="Username">
              </div>
            </div>
            <div class="control-group">
            <label class="control-label" for="password">Password</label>
              <div class="controls">
                  <input type="password" name="password" id="password" placeholder="Password">
              </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="submit" value="Login" class="btn">Login</button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
